/*CSS styles to change the layout for medium sized screens(Tablets)*/
@media only screen and (min-width: 768px) {

  header h1 {
    font-size: 2.85rem;
  }
  header h2 {
    font-size: 1.5rem;
   }
  header img, .siteLogo {
    height: 100px;
  }

  header img {
    margin-left: 2vw;
  }

  #accountNav li:nth-child(1) {
    border-style: none;
  }

  #accountNav li:nth-child(2){
    display: block;
  }

  .banner button {display: none;}
  #primaryNav {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2vw;
  }
  #primaryNav li {flex-basis: auto;}
  #primaryNav a {padding: .7rem 1rem;}


  .photoCard {
    flex-basis: 50%;
  }

}
