/*CSS styles for most elements of the website and establishes the layout for small screens(Phones)*/

/*Make sure text sizes are the same across browsers*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*Make sure all browsers use the same box-sizing for elements*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

/*Setting elements to use all availale space*/
html,
body,
main {
  height: 100%;
}

.limited {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: flex;
  flex-basis: 100%;
}

main {
  background-color: #ffffe6;
}

/**HEADER**/
header,
#accountNav {
  background-color: #cfc;
}

header {
  margin-bottom: 0;
  display: flex;
}

header h1,
header h2 {
  margin: 0;
  color: #fff;
  font-weight: 300;
  font-style: italic;
}

header h1 {
  padding: .5rem 0 0 0;
  font-size: 1.95rem;
}

header h2 {
  padding: .2rem 0 0 0;
  font-size: 1.05rem;
}

.banner {
  justify-content: space-between;
  align-items: center;
}

.siteLogo {
  display: flex;
}

.siteLogo img {
  height: 85px;
  padding-right: 10px;
}

button#hamburgerBtn {
  background: none;
  border: none;
  color: #fff;
  font-size: 2.4rem;
  cursor: pointer;
  padding: 0 30px 0 2vw;
}

/**ACCOUNT NAVIGATION**/
#accountNav li {
  border: 3px solid #fff;
  padding: 0 10px;
  font-size: 1rem;
  border-radius: 15%;
  margin-right: 5px;
}

#accountNav li:nth-child(2) {
  display: none;
}

/* SITE NAVIGATION */
nav {
  background-color: #004d00;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-basis: 100%;
}

nav li {
  list-style-type: none;
}

nav a {
  display: block;
  padding: .8rem 0;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

nav li.active {
  background-color: rgba(0, 0, 0, 0.5);
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#primaryNav.open {
  display: block;
}

#primaryNav {
  display: none;
}

/**PHOTOGRAPHERS PAGE**/

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photoCard {
  display: flex;
  flex-basis: 90%;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 1vw;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.5);
}

.photoCard img {
  width: 45%;
  height: auto;
  margin: 10px;
  border-radius: 10px;
}

.photoInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 2vw;
  width: 45%;
  height: auto;
}

.photoInfo h3 {
  margin: 0;
}

.photoInfo h5 {
  margin-bottom: 0;
}

.eventTypes {
  list-style-type: none;
  padding-left: 5px;
  display: flex;
  flex-wrap: wrap;
}

.eventTypes li {
  margin: 1px 5px;
}